@model List<AnswerViewModel>?
<div class="user-info-list">
    @if (@Model != null)
    {
        foreach (var answer in @Model)
        {
            <a asp-controller="Post" asp-action="Post" asp-route-postId="@answer.PostId">
               <div> @Html.Raw(answer.ContentBody)</div>
            </a>
        }
    }
</div>