@model CSForum.Shared.Models.ViewModels.UserViewModel
<div class="card-body">
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">@Model.Email</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Address</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0">Examle Place</p>
        </div>
    </div>
</div>