@model List<CSForum.Shared.Models.ViewModels.PostViewModel>?
<div class="user-info-list">
    @if (@Model != null)
    {
        foreach (var post in @Model)
        {
            <a asp-controller="Post" asp-action="Post" asp-route-postId="@post.Id">
              <div> @post.Title</div>
            </a>
        }
    }
</div>