@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model CreatePostView
@{
    ViewBag.Title = "Create Post";
    // Layout = "_Layout";
}

<form id="formPost" class="form-post" asp-action="CreatePost" method="post">
    <link rel="stylesheet" href="~/skeditorscript/ckeditor4/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css">
    <script src="~/skeditorscript/ckeditor4/ckeditor.js"></script>
    <script src="~/skeditorscript/ckeditor4/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <div>
        <label>@ViewLocalizer["Title"]</label>
        <input class="input-box" asp-for="Title" />
    </div>
    <div>
        <label>@ViewLocalizer["Content"]</label>
        <textarea class="border-radius-ckeditor" asp-for="Content" id="content"></textarea>
    </div>
    <div>
        <label>@ViewLocalizer["Tags"]</label>
        <input class="input-box tag-find"/>
        <div id="selectedTag" class="selected-tag"></div>
        <select  class="selectTag">
        </select>
    </div>
    <button type="submit">@ViewLocalizer["CreatePost"]</button>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let config = {
                extraPlugins: "codesnippet",
                codeSnippet_theme: 'monokai_sublime',
                height: 365
            };
            let editor = CKEDITOR.replace("content", config);
            console.log(editor)
        });
        
        let form = document.querySelector("#formPost");
        form.addEventListener("submit", async (e) => {    
             e.preventDefault(); 
            form = document.querySelector("#formPost");
            const formData = new FormData(form);
            let data = JSON.parse(JSON.stringify(Object.fromEntries(formData)));
            data.PostTags = [];
            for (let i=0;i<selectedTagIds.length;i++){
                data.PostTags.push({
                tagId: selectedTagIds[i]  
                });
            }
            
            let iframe = document.querySelector("iframe.cke_wysiwyg_frame.cke_reset");
            let contentBody  = iframe.contentWindow.document.querySelector(".cke_editable > p") ;
            data.Content = contentBody.innerHTML;
            let body=  JSON.stringify(data); 
            let response = await fetch(form.baseURI,
            {
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                method: "POST",
                body: body
            });
            window.location.replace(response.url);
            });
    </script>
    <script src="~/js/loadTag.js"></script>  
</form>
