@model CreatePostView

@{
    ViewBag.Title = "Create Post";
    // Layout = "_Layout";
}

<form class="form-post" asp-action="CreatePost" method="post">
    <link rel="stylesheet" href="~/skeditorscript/ckeditor4/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css">
    <script src="~/skeditorscript/ckeditor4/ckeditor.js"></script>
    <script src="~/skeditorscript/ckeditor4/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <div>
        <label>Title</label>
        <input class="input-box" asp-for="Title" />
    </div>
    <div>
        <label>Content</label>
        <textarea class="border-radius-ckeditor" asp-for="Content" id="content"></textarea>
    </div>
    <div>
        <label>Tags</label>
        <input id="tagFind" class="input-box"/>
        <div id="selectedTag" class="selected-tag"></div>
        <select id="selectTag">
        </select>
    </div>
    <button type="submit">Post</button>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let config = {
                extraPlugins: "codesnippet",
                codeSnippet_theme: 'monokai_sublime',
                height: 365
            };
            let editor = CKEDITOR.replace("content", config);
        });
    </script>
    <script src="~/js/loadTag.js"></script>  
</form>