@model CSForum.Shared.Models.dtoModels.CreatePost

@{
    ViewBag.Title = "Create Post";
    // Layout = "_Layout";
}

<form asp-action="CreatePost" method="post">
    <link rel="stylesheet" href="~/skeditorscript/ckeditor4/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css">
   
    <script src="~/skeditorscript/ckeditor4/ckeditor.js"></script>
    <script src="~/skeditorscript/ckeditor4/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <div>
        <label >Title</label>
        <input asp-for="Title"/>
    </div>
    <div>
        <label>Content</label>
        <textarea asp-for="Content"  id="content"></textarea>
    </div>
    <button type="submit">Post</button>
    <script>  
    document.addEventListener("DOMContentLoaded", ()=>{
        let config = {
            extraPlugins: "codesnippet",
            codeSnippet_theme: 'monokai_sublime',
            height: 365
        }
    let editor = CKEDITOR.replace("content",config);
        
    })
  
    </script>
</form>