html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.login_form {
    border: 2px solid #b2aeae;
    width: fit-content;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
}

.login_form {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form > *{
    padding: 3px;
    margin: 3px;
}
.login_form label {
    color: black;
}

.login_form a {
    text-decoration: none;
    color: white;
}

.list-login {
    display: flex;
    justify-content: space-around;
}

form {
    font-family: helvetica, sans-serif;
    border-radius: 5px;
}

form label {
    color: #fff;
    display: block;
    font-family: helvetica, sans-serif;
}

form input {
    font-size: 1.2em;
    outline: none;
    border-radius: 5px;
}

form input.password {
}


form button {
    color: white;
    border: none;
    background: #0671de;
    font-size: 1.25em;
    clear: both;
    border-radius: 5px;
    outline: none;
    transition: all 0.25s;
    cursor: pointer;
}

form button:focus, form button:hover {
    background: #262626;
}

.hide-show {
    position: relative;
    z-index: 5;
    display: none;
}

.hide-show span {
    background: #0671de;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 