html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body header > nav.navbar.bg-black.color-lemon-orange {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

body header > nav.navbar.bg-black.color-lemon-orange div.container-fluid a {
    color: #efc134 !important;
    font-weight: bold;
}

body header > nav.navbar.bg-blue ul.identity li.nav-item {
    margin: 2px;
    border-radius: 10px;
}

.form-post{
    font-size: 17px;
    background-color: #2b2c2d;
    color: #efc134;
    border-radius: 25px;
    padding: 50px;
}

.border-radius-ckeditor{
    border-radius: 25px;
}

.form-post .input-box {
    border-radius: 10px;
    padding: 2px 10px;
    border: 2px solid #001d3a;
}

.form-post .input-box:focus-visible{
    outline: 2px solid #efc134;
}

.selected-tag {
    display: flex;
}

.selected-tag > * {
    background-color: #2b2c2d;
    border: 2px solid #efc134;
    border-radius: 5px;
    padding: 5px;
    color: #efc134;
    margin-left: 2px;
}

ul.user-manage.nav.nav-pills.flex-column > li.nav-item{
    background-color: black;
    margin: 1px;
    border-radius: 5px;
}

ul.user-manage.nav.nav-pills.flex-column > li.nav-item > a.nav-link{
    color: #efc134;
}

ul.user-manage.nav.nav-pills.flex-column > li.nav-item > a.nav-link.active {
    background-color: #efc134;
    color: black;
}

.btn-dark{
    color: #efc134;
    padding: 3px;
    background: black;
}
.line-yellow{
    background-color: #efc134;
    height: 5px;
    padding: 5px;
}

.recent-posts{
    
}
.recent-posts > .element {
    border-bottom: 2px solid #efc134;
}
ul.recent-posts{
    list-style: none;
}