*, *:before, *:after {
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  background-color: #212529;
  border-radius: 10px;
  overflow: hidden;
}

.st0 {
  fill: #41AD49;
}

.wrap-st0 {
  width: 30px;
  height: 30px;
}

.post-answer {
  display: flex;
  border-bottom: 1px solid grey;
  margin: 10px 0 10px 0;
}
.post-answer .accept {
  flex-basis: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-answer .content {
  flex: 9;
}
.post-answer .content .container-info {
  display: flex;
  justify-content: space-between;
  height: min-content;
}
.post-answer .content .container-info .user {
  padding: 0;
  margin: 0;
}
.post-answer .content .container-info .user a {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.post-answer .content .container-info .state {
  padding: 0;
  margin: 0;
}
.solved {
  border: 2px solid #86BB71;
  color: #86BB71;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.people-list {
  width: 260px;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 0;
}
.people-list ul li {
  list-style: none;
}
.people-list img {
  float: left;
}
.people-list .about {
  padding: 5px 14px;
  cursor: pointer;
  color: #efc134;
  font-weight: bold;
  border-bottom: 2px solid #efc134;
}
.people-list .about .active {
  background-color: #9fe3e3;
  border: 2px solid #29cb8a;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width: 490px;
  flex-grow: 2;
  background-color: #c9c6c6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history ul li {
  background-color: #212529;
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-bottom: 2px;
  border-radius: 10px;
  padding: 10px;
}
.chat .chat-history ul li .user {
  width: min-content;
  padding: 0;
  margin: 0;
  color: #efc134;
  position: relative;
}
.chat .chat-history ul li.own {
  align-items: flex-end;
}
.chat .chat-history ul li.own .user {
  right: 0;
}
.chat .chat-history ul li.not-own {
  align-items: flex-start;
}
.chat .chat-history ul li.not-own .user {
  left: 0;
}
.chat .chat-history .content {
  color: white;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

* {
  font-family: Sans-Serif, sans-serif;
}

.btn:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.btn:active:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-link.nav-link:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}
body header > nav.navbar.bg-black.color-lemon-orange {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body header > nav.navbar.bg-black.color-lemon-orange div.container-fluid a {
  color: #efc134 !important;
  font-weight: bold;
}
body header > nav.navbar.bg-blue ul.identity li.nav-item {
  margin: 2px;
  border-radius: 10px;
}

.form-post {
  font-size: 17px;
  background-color: #2b2c2d;
  color: #efc134;
  border-radius: 25px;
  padding: 50px;
}
.form-post .input-box {
  border-radius: 10px;
  padding: 2px 10px;
  border: 2px solid #001d3a;
}
.form-post .input-box:focus-visible {
  outline: 2px solid #efc134;
}

.border-radius-ckeditor {
  border-radius: 25px;
}

.selected-tag {
  display: flex;
}
.selected-tag > * {
  background-color: #2b2c2d;
  border: 2px solid #efc134;
  border-radius: 5px;
  padding: 5px;
  color: #efc134;
  margin-left: 2px;
}

ul.user-manage.nav.nav-pills.flex-column > li.nav-item {
  background-color: black;
  margin: 1px;
  border-radius: 5px;
}
ul.user-manage.nav.nav-pills.flex-column > li.nav-item > a.nav-link {
  color: #efc134;
}
ul.user-manage.nav.nav-pills.flex-column > li.nav-item > a.nav-link.active {
  background-color: #efc134;
  color: black;
}

button.post.btn-dark {
  color: #efc134;
  padding: 5px;
  background: black;
  border-radius: 10px;
  border: none;
}

.line-yellow {
  background-color: #efc134;
  height: 1px;
  padding: 1px;
}

.recent-posts > .element {
  border-bottom: 2px solid #efc134;
}

ul.recent-posts {
  list-style: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.post-info .title {
  display: flex;
}
.post-info .title .title-text {
  flex-grow: 9;
}
.post-info .title div.solved {
  border: none;
  flex-grow: 1;
}
.post-info .info-container {
  display: flex;
}
.post-info .info-container > * {
  padding-left: 3px;
}

.nav-user {
  display: flex;
}
.nav-user > * {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #969494;
}

/*# sourceMappingURL=styles.css.map */
