$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
$yellow: #efc134;
$black: #212529;

*, *:before, *:after {
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  background-color: $black;
  border-radius: 10px;
  overflow: hidden;
}

.st0 {
  fill: #41AD49;
}

.posts-tag {
  .wrap-st0 {
    width: 20px;
    height: 20px;
  }
  .post-tag-item {
    padding: 2px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #a8a5a5;
    color: black;
    justify-content: space-between;
    font-weight: bold;
    p{
      padding: 0;
      margin: 0;
    }
    a {
      color: black;;
      text-decoration: none;
    }
    text-decoration: none;
  }
}

.wrap-st0 {
  width: 30px;
  height: 30px;
}

.post-answer {
  display: flex;
  border-bottom: 1px solid grey;
  margin: 10px 0 10px 0;

  .accept {
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex: 9;

    .container-info {
      display: flex;
      justify-content: space-between;
      height: min-content;

      .user {
        padding: 0;
        margin: 0;

        a {
          font-weight: bold;
          color: black;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      .state {
        padding: 0;
        margin: 0;
      }
    }

    .content-fill {

    }
  }
}

.solved {
  border: 2px solid $green;
  color: $green;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.people-list {
  width: 260px;
  float: left;

  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  img {
    float: left;
  }

  .about {
    padding: 5px 14px;
    cursor: pointer;
    color: $yellow;
    font-weight: bold;
    border-bottom: 2px solid $yellow;
  }

  .about .active {
    background-color: #9fe3e3;
    border: 2px solid #29cb8a;
  }

  .status {
    color: $gray;
  }

}

.tagFind {
  .tag {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: min-content;

    > * {
      margin: 5px 0;
      height: min-content;
    }

    .href {
      background-color: #afaeae;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      padding: 0 10px;
    }

    .count {
      padding: 0;
      margin: 0;
    }
  }
}

.chat {
  flex-grow: 2;
  background-color: #c9c6c6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    ul {
      li {
        background-color: $black;
        display: flex;
        list-style: none;
        flex-direction: column;
        margin-bottom: 2px;
        border-radius: 10px;
        padding: 10px;

        .user {
          width: min-content;
          padding: 0;
          margin: 0;
          color: $yellow;
          position: relative;
        }
      }

      li.own {
        align-items: flex-end;

        .user {
          right: 0;
        }
      }

      li.not-own {
        .user {
          left: 0;
        }

        align-items: flex-start;

      }
    }

    .content {
      color: white;
    }

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $green;
    }

    .other-message {
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }

  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}


html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

* {
  font-family: Sans-Serif, sans-serif;
}

.btn {
  &:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }

  &:active {
    &:focus {
      box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }
  }
}

.btn-link.nav-link {
  &:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
}

.form-control {
  &:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
}

.form-check-input {
  &:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
}

body {
  margin-bottom: 60px;

  header {
    > nav.navbar.bg-black.color-lemon-orange {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      div.container-fluid {
        a {
          color: #efc134 !important;
          font-weight: bold;
        }
      }
    }

    > nav.navbar.bg-blue {
      ul.identity {
        li.nav-item {
          margin: 2px;
          border-radius: 10px;
        }
      }
    }
  }
}

.form-post {
  font-size: 17px;
  background-color: #2b2c2d;
  color: #efc134;
  border-radius: 25px;
  padding: 50px;

  .input-box {
    border-radius: 10px;
    padding: 2px 10px;
    border: 2px solid #001d3a;

    &:focus-visible {
      outline: 2px solid #efc134;
    }
  }
}

.border-radius-ckeditor {
  border-radius: 25px;
}

.selected-tag {
  display: flex;

  > * {
    background-color: #2b2c2d;
    border: 2px solid #efc134;
    border-radius: 5px;
    padding: 5px;
    color: #efc134;
    margin-left: 2px;
  }
}

ul.user-manage.nav.nav-pills.flex-column {
  > li.nav-item {
    background-color: black;
    margin: 1px;
    border-radius: 5px;

    > a.nav-link {
      color: #efc134;
    }

    > a.nav-link.active {
      background-color: #efc134;
      color: black;
    }
  }
}

button.post.btn-dark {
  color: #efc134;
  padding: 5px;
  background: black;
  border-radius: 10px;
  border: none;
}

.line-yellow {
  background-color: #efc134;
  height: 1px;
  padding: 1px;
}

.recent-posts {
  > .element {
    border-bottom: 2px solid #efc134;
  }
}

ul.recent-posts {
  list-style: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.post-info {
  .title {
    display: flex;

    .title-text {
      flex-grow: 9;
    }

    div.solved {
      border: none;
      flex-grow: 1;
    }
  }

  .info-container {
    display: flex;

    > * {
      padding-left: 3px;
    }
  }
}

.nav-user {
  display: flex;

  > * {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #969494;
  }
}