@model CSForum.IdentityServer.Models.LoginViewModel
@* @using Microsoft.AspNetCore.Mvc.Localization *@
@* @inject IViewLocalizer ViewLocalizer *@
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form asp-controller="Auth" asp-action="Login" method="post">
        <input hidden="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
        <div>
            <label>User name</label>
            <input name="Username" id="Username"/>
        </div>
        <div>
            <label>Password</label>
            <input name="Password" id="Password"/>
        </div>
        <div>
            <button type="submit">
                Sign in
                @* @ViewLocalizer["SignIn"] *@
            </button>
        </div>
    </form>
</div>
<div>
    <a asp-action="Register"  asp-route-ReturnUrl="@Model.ReturnUrl">Register</a>
</div>
</body>
</html>