@model CSForum.IdentityServer.Models.RegisterViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
    <link href="~/css/site.css" rel="stylesheet">

</head>
<body>
    <div>
        <div>

            <form class="login" asp-controller="Auth" asp-action="Register">
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

                <h3>Register new account</h3>

                <label>Username</label>
                <input name="Username" id="Username" type="text" placeholder="Username">

                <label>Email</label>
                <input name="Email"  id="Email" type="text" placeholder="Email or Phone">

                <label>Password</label>
                <input name="Password" id="Password" type="password" placeholder="Password">

                <label>Confirm Password</label>
                <input name="ConfirmPassword" id="ConfirmPassword" type="password" placeholder="Password">

                <div class="buttons" style="display: flex">
                    <button type="submit">Register</button>
                    <div>
                        <a asp-action="Login" asp-route-ReturnUrl="@Model.ReturnUrl">Log in</a>
                    </div>
                </div>

                <div>
                    <div class="social">
                        <p>Sign in With</p>
                    </div>
                    <div class="social">
                        <div class="go">Google</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>
</html>