<div class="chat-container" clearfix>
    <div id="loading" class="loading" style="display: block">
        <div class="anim">Loading</div>
    </div>
    <div class="people-list" id="people-list">
        <ul class="list" id="userChats">
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul id="chatHistory">
            </ul>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send"  id="messageInput"></textarea>
            <button id="sendButton">Send</button>
        </div> <!-- end chat-message -->
    </div> <!-- end chat -->
</div> <!-- end container -->


<script type="module" src="~/ts/chat/fetchUsersChat.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="module" src="~/js/chat.js"></script>