@using CSForum.Shared.Models.dtoModels.Chat
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CSForum.Shared.Models.ViewModels.UserViewModel 

<div class="form-chat-inputs">
    <form class="form-chat-fields" asp-controller="Chat" asp-action="CreateChat" method="post">
        <div class="message">
            <input hidden="hidden" name="@nameof(CreateChatDto.UserId)" value="@Model.Id">
            <label>Message</label>
            <textarea name="@nameof(CreateChatDto.Content)"></textarea>
        </div>
        <div class="message-buttons">
            <button type="reset" id="closeButton">x</button>
            <button  class="submit-button" type="submit">Sumbmit</button>
        </div>
    </form>
</div>